<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MUSICAA"
        tools:targetApi="31">
        <activity
            android:name=".User_Details"
            android:exported="false" />
        <activity
            android:name=".Bandimu_Suda"
            android:exported="false" />
        <activity
            android:name=".AbboutUs"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".GoToSing"
            android:exported="false" />
        <activity
            android:name=".Messages"
            android:exported="false" />
        <activity
            android:name=".Folowing_list"
            android:exported="false" />
        <activity
            android:name=".Follower_list"
            android:exported="false" />
        <activity
            android:name=".Following"
            android:exported="false" />
        <activity
            android:name=".Follower"
            android:exported="false" />
        <activity
            android:name=".Explore"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCA9qK7WBGU39SVmGboqXkMrK9hi3DX6mg" />
    </application>

</manifest>